#%RAML 1.0

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml
  queryParameters: queryParameters.raml

title: Individual Calculations (MTD)
description: Resources relating to generating, retrieving, and completing a final declaration for Self Assessment tax calculations.
version: 3.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Send fraud prevention data
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/fraud-prevention.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md
 - title: Changelog
   content: !include docs/changelog.md
 - title: Support
   content: !include docs/support.md
 - title: Testing
   content: !include docs/testing.md

'/individuals/calculations':
  /{nino}:
    uriParameters:
      nino: !include pathParameters/nino.raml
    /self-assessment:
      (annotations.group):
        name: Self Assessment
        description: !include docs/group_selfAssessment.md
      /{taxYear}:
        uriParameters:
          taxYear: !include pathParameters/taxYearMinimum2018.raml
        post: !include endpoints/trigger.raml
        /{calculationId}:
          uriParameters:
            calculationId: !include pathParameters/calculationId.raml
          get: !include endpoints/retrieve.raml